
.App {
  /* text-align: center; */
  background-image: url("./images/cool-background.png");
  background-repeat: repeat;
  background-position: center top;
  background-size: 1400px 1200px;
  background-attachment: scroll;
}

.hr {
  align-content: center;
}

.tag {
  color:white;
  text-shadow: rgb(11, 51, 63) 1px 0 10px;
}

.navbar-nav {
  /* text-align: center; */
  color: black;
  text-shadow: rgb(226, 148, 134) 1px 0 10px;
}

.navbar-brand {
  color: black;
  text-shadow: rgb(226, 148, 134) 1px 0 10px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header { 
  background-image: url("./images/white-moving.png");
  font-family: 'Coda';
  height: 150px;
  padding: 20px;
  color: black;}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
